<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz History</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/quiz_history.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
  <h1>Quiz History</h1>
  {% if user_attempts|length == 0 %}
    <p>You have not attempted any quizzes yet.</p>
  {% else %}
    <table>
      <thead>
         <tr>
            <th>Quiz Name</th>
            <th>Score</th>
         </tr>
      </thead>
      <tbody>
        {% for attempt, quiz_obj in user_attempts %}
          <tr>
            <td>{{ quiz_obj.name }}</td>
            <td>{{ attempt.score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    <h2>Summary Report</h2>
    <p>Total Attempts: {{ attempt_count }}</p>
    <p>Total Score: {{ total_score }}</p>
    <p>Average Score: {{ average_score|round(2) }}</p>
  {% endif %}
  <a href="{{ url_for('user_dashboard') }}">Back to Dashboard</a>
</body>
</html>
